<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>py.una.pol.par.controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>py.una.pol.par.controllers.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>py.una.pol.par.controllers.Buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>py.una.pol.par.controllers.Sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>py.una.pol.par.controllers.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categoria</servlet-name>
        <servlet-class>py.una.pol.par.controllers.Categorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Productos</servlet-name>
        <servlet-class>py.una.pol.par.controllers.Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stock</servlet-name>
        <servlet-class>py.una.pol.par.controllers.StockController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unidades</servlet-name>
        <servlet-class>py.una.pol.par.controllers.Unidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarLoginName</servlet-name>
        <servlet-class>py.una.pol.par.controllers.ValidarLoginName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoController</servlet-name>
        <servlet-class>py.una.pol.par.controllers.CarritoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/Buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/Sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categoria</servlet-name>
        <url-pattern>/Categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Productos</servlet-name>
        <url-pattern>/Productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stock</servlet-name>
        <url-pattern>/StockController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unidades</servlet-name>
        <url-pattern>/Unidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarLoginName</servlet-name>
        <url-pattern>/ValidarLoginName</url-pattern>
        <servlet-mapping>
            <servlet-name>Stock</servlet-name>
            <url-pattern>/StockController</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>Unidades</servlet-name>
            <url-pattern>/Unidades</url-pattern>
        </servlet-mapping>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoController</servlet-name>
        <url-pattern>/Carrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
