/* 
    Created on : 02/05/2016, 04:00:16 PM
    Author     : Maciel
*/

* {
    font-family: 'Droid Sans', sans-serif;
}

header, section {
    padding-left: 40px;
    padding-right: 40px;
}

select {
    font-size: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: black;
}

table td, table th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

table tr:nth-child(even) {
    background-color: whitesmoke;
}

table th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #007F80;
    color: whitesmoke;
}

input[type=text], input[type=password], input[type=email] {
    font-size: 16px;
    padding: 5px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

input[type=submit] {
    font-size: 16px;
}

button {
    font-size: 16px;
}

p.warningMsg {
    font-size: 80%;
    color: orange;
}

p.alertMsg {
    color: red;
}