/* 
    Created on : 02/05/2016, 04:00:16 PM
    Author     : Maciel
*/

* {
    font-family: 'Droid Sans', sans-serif;
}

select {
    font-size: 16px;
}

input[type=text], input[type=password], input[type=email] {
    font-size: 16px;
    padding: 5px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}

input[type=submit] {
    font-size: 16px;
}

button {
    font-size: 16px;
}

p.warningMsg {
    font-size: 80%;
    color: orange;
}
